<ion-content class="bg" padding>
  <img class="map" src="../../assets/imgs/cocorico.png" alt="map" />
  <div *ngFor="let player of Object.keys(players)">
    <div [ngStyle]="{'left': 60 * players[player].x + 'px', 'top': 60 * players[player].y + 'px', 'position': 'absolute'}">
      <div *ngIf=" players[player].login !== playerLogin">
        <ul>
          <li> {{players[player].login}}</li>
          <li> {{players[player].life}}</li>
          <li> {{players[player].xp}}</li>
        </ul>
        <img id="goomba" src="../../assets/imgs/goomba.png" alt="goomba" />
      </div>
      <div *ngIf=" players[player].login === playerLogin">
        <ul>
          <li> {{players[player].login}}</li>
          <li> {{players[player].life}}</li>
          <li> {{players[player].xp}}</li>
        </ul>
        <img id="link" src="../../assets/imgs/Link_pixel.png" alt="link" />
      </div>
    </div>
  </div>

  <div *ngFor="let item of Object.keys(items)">
    <div [ngStyle]="{'left': 60 * items[item].x + 'px', 'top': 60 * items[item].y + 'px', 'position': 'absolute'}">
      <img id="chest" src="../../assets/imgs/chest.png" alt="chest" />
    </div>
  </div>

  <div class="info">
    <p>{{info}}</p>
  </div>

  <div class="list">
      <div *ngFor="let player of Object.keys(players)">
       <pre>{{players[player].login}}</pre> 
        </div>
  </div>

</ion-content>
