page-game {

    .bg {
        background-image: url('../../assets/imgs/cocorico.png');
        background-repeat: no-repeat;
        background-size: 71%;
    }

    td {
        width: 8rem;
        height: 2rem;
        border: 1px solid black;
    }

    li {
        background-color: white;
        list-style: none;
        opacity: 0.7;
    }

    #goomba {
        width: 5rem;
    }
    
    #link {
        width: 5rem;
    }

    #chest {
        width: 5rem;
    }
}