<!--
  Generated template for the GamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <tbody>
    <table>
      <tr *ngFor="let y of col">
        {{X}}
        <td></td>
        <td *ngFor="let x of row">
          {{Y}}
          <div *ngIf="playerPositionX == x && playerPositionY == y">
            <img src="../../assets/imgs/Link_pixel.png" alt="link" />
          </div>
          <div *ngFor="let player of Object.keys(players)">
            <div *ngIf="players[player].x == x && players[player].y == y && players[player].login !== playerLogin">
              {{players[player].login}}
              O
            </div>
          </div>
        </td>
      </tr>
    </table>
  </tbody>


</ion-content> -->